<!--
Contributors:
- Josh Marsden
- Lubna Fatima
-->
<div text-align="center">
<form [formGroup]="surveyForm" (ngSubmit)="submit()">
    

   <!-- Input for First Name and required field -->
   <div class="title">
    <label for="firstName">First Name:<span style="color:red">*</span> </label><br>
    <input id="firstName" type="text" formControlName="firstName" required>
    <div class="alert" *ngIf="validateError('firstName')">
        First name is required
    </div>
</div>
<!-- Input for Last Name and required field -->

<div class="title">
    <label for="lastName">Last Name:<span style="color:red">*</span> </label><br>
    <input id="lastName" type="text" formControlName="lastName" required>
    <div class="alert" *ngIf="validateError('lastName')">
        Last name is required
    </div>
</div>
<!-- Input for Street Address and required field -->

<div class="title">
    <label for="streetAddress">Street Address: <span style="color:red">*</span> </label><br>
    <textarea rows="2" cols="50" id="streetAddress" formControlName="streetAddress" required></textarea>
    <div class="alert" *ngIf="validateError('streetAddress')">
        Sreet Address is required
    </div>
</div>
<!-- Input for Zip Code and required field -->

<div class="title">
    <label for="zip">Zip Code: <span style="color:red">*</span></label><br>
    <input id="zip" type="number" formControlName="zip" maxlength="5" required>
    <div class="alert" *ngIf="validateError('zip')">
        Zip is required and should be 5 digits only
    </div>
</div>
<!-- Input for City and required field -->

<div class="title">
    <label for="city">City:<span style="color:red">*</span> </label><br>
    <input id="city" type="text" formControlName="city" required>
    <div class="alert" *ngIf="validateError('city')">
        City is required
    </div>
</div>
<!-- Input for State and required field -->

<div class="title">
    <label for="state">State:<span style="color:red">*</span> </label><br>
    <input id="state" type="text" formControlName="state" required>
    <div class="alert" *ngIf="validateError('state')">
        State is required
    </div>
</div>
<!-- Input for Phone Number and required field -->        

<div class="title">
    <label for="telNum">Phone Number:<span style="color:red">*</span> </label><br>
    <input id="telNum" type="number" formControlName="telNum" maxlength="10" required>
    <div class="alert" *ngIf="validateError('telNum')">
        Phone number is required and should be 10 digits only
    </div>
</div>
<!-- Input for E-mail and required field -->

<div class="title">
    <label for="email">Email:<span style="color:red">*</span> </label><br>
    <input id="email" type="email" formControlName="email" required>
    <div class="alert" *ngIf="validateError('email')">
        Email is required and should be Valid email
    </div>
</div>
<!-- Input for Date of Survey and required field -->

<div class="title">
    <label for="date">Date of Survey:<span style="color:red">*</span> </label><br>
    <input id="date" type="date" formControlName="date" required>
    <div class="alert" *ngIf="validateError('date')">
        Date of Survey is required
    </div>
</div>
<!-- checkboxes as input -->

<div class="title">
    <label>What do you like most about the campus?</label>
    <div *ngFor="let data of likesAbt;let i =index">
        <label>
            <input id="checkb" type="checkbox" [value]="data.value" (change)="onCheckBoxChange($event)">
            {{data.value}}
        </label>
    </div>
</div>
<!-- RadioButtons as input -->

<div class="title">
    <label>
        How did you hear about Campus?<br>
        <input type="radio" value="Friends" formControlName="hearAbtCampus">
        <span>Friends</span>
    </label><br>
    <label>
        <input type="radio" value="Television" formControlName="hearAbtCampus">
        <span>Television</span>
    </label><br>
    <label>
        <input type="radio" value="Internet" formControlName="hearAbtCampus">
        <span>Internet</span>
    </label><br>
    <label>
        <input type="radio" value="Others" formControlName="hearAbtCampus">
        <span>Others</span>
    </label>
</div>
<!-- Dropdown list as input -->

<div class="title">
    <label>How likely you recommend this university to your Friend?</label><br>
    <select class="custom-select mb-3" (change)="onChangeRecommend($event)" formControlName="recommend">
        <option value="">Choose LikelyHood:</option>
        <option *ngFor="let r of recommend" [ngValue]="r.value">
            {{ r.value }}
        </option>
    </select>
</div>
<!-- Text area as input for Comments-->

<div class="title">
    <label for="comments">Comments: </label><br>
    <textarea rows="2" cols="50" id="comments" formControlName="comments"></textarea>
</div>
 <!-- Buttons for Submit and Cancel -->

<div>
    <button type="submit" class="btn submit">Submit Survey</button>
    <button type="reset" class="btn cancel">Cancel</button>
</div>
  </form>
   <!-- Pop-up window after submitting survey form for 3-sec -->
   <div id="alertS" class="alert alert-success d-flex align-items-center" role="alert" *ngIf="showSuccess">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
        <use xlink:href="#check-circle-fill" />
    </svg>
    <div>
        Survey Submitted!!!
    </div>
</div>
</div>