<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Lubna Fatima</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#menu" class="w3-bar-item w3-button">Experince</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
      <a href="https://www.linkedin.com/in/lubna-fatima-75464316b/?trk=public-profile-join-page" class="w3-bar-item w3-button">Linkedin</a>
      <a href="index1.html" class="w3-bar-item w3-button">CS Department Page</a>
      <a href="Form.html" class="w3-bar-item w3-button">CS Survey Page</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img src="IMG_2355.JPEG" >
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Lubna Fatima</h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="3261.JPEG" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Me</h1><br>
      <h5 class="w3-center">Master's in Computer Science</h5>
      <p class="w3-large">I am Lubna Fatima, currently pursuing a Master's degree in Computer Science at George Mason University. My academic journey began with my undergraduate studies at JNTUH University in India. Outside of academics, I have a diverse range of interests and hobbies. I enjoy traveling to explore new places, reading books to expand my knowledge, dancing as a form of self-expression, and cooking to experiment with different cuisines.
One of my lifelong interests has been electronic gadgets. I've always been curious about how these gadgets work and have a strong desire to learn about their inner workings. This innate curiosity and fascination with technology led me to choose a career in computer science.
Throughout my academic journey, I have been actively involved in various projects. These projects have covered a wide spectrum of topics, including web development, machine learning, Spring Boot, Docker, and Kubernetes. My experiences in these areas have not only deepened my understanding of computer science but have also allowed me to apply my knowledge to real-world scenarios.</p>
    </div>
  </div>
  
  <hr>
  
  <!-- Experince Section -->
  <div class="w3-row w3-padding-64" id="menu" style="text-align: center;">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">EXPERINECE</h1><br>
      <h4>GRADUATE TEACHING ASSISTANT</h4>
      <P>GEORGE MASON UNIVERSITY</P>
      <p class="w3-text-grey">I work as GTA for course operating system under Prof.Ahmadi.</p><br>
    
      <h4>Danske IT</h4>
      <P> Associate Software Engineer </P>
      <p class="w3-text-grey">I worked as intern for 6 months.</p><br>  
    </div>
    
  </div>

  <hr>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Contact Details</h1><br>
    <p>Email: lfatima&#64;gmu.edu</p>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Mobile number" required name="Mobile Number"></p>
      <p><input class="w3-input w3-padding-16" type="email" placeholder="Email" required name="email" ></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p><button class="w3-button w3-light-grey w3-section" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>
  
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>Find my <a href="Resumess.jpg" title="W3.CSS" target="_blank" class="w3-hover-text-green">Resume</a></p>
</footer>
