<!--
Contributors:
- Josh Marsden
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a routerLink="/home" class="navbar-brand">
      <img src="assets/images/gmu-logo-light.png" alt="GMU Computer Science Department Logo" height="50rem">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle the navigation menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container" id="navbarContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown">About</a>
          <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
            <li><a class="dropdown-item" routerLink="/about/lubna-fatima">Lubna Fatima</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="programs">Programs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../survey">Survey Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../survey-list">Survey Responses</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
